/* Background image */
#main {
    background-image: url("../img/teapot.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-bottom: 25px;
}

/* Styling for the opaque black box shown under the about us text */
#opaque-div {
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 25px;
}

/* Styling for the about us text */
#main h1 {
	text-align: center;
	color: white;
	margin-bottom: 20px;
}

#main p {
	padding-left: 80px;
	padding-right: 80px;
	color: white;
}