#main h1 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	background-color: #E7512D;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 1.5em;
}

#info h2, p {
	text-align: center;
	color: white;
}

#info h2 {
	font-size: 1.5em;
	font-weight: bold;
}

#map {
	border-left: 2px solid #E9DDC4;
}

#map > div {
	margin: auto;
	overflow:hidden;
	height:450px;
	width:450px;
}

#gmap_canvas img {
	max-width:none!important;
	background:none!important
}

/* Code for responsive design; hide banner, shift navbar and content to top */
@media only screen and (max-width: 765px) {
	#map {
	border-left: none;
	}
}