body {
	background-color: #faebd7;
}

#main > h2 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	background-color: #E7512D;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 1.5em;
}

input, textarea {
    color: black;
}

textarea:focus, input:focus {
    color: black;
}

#form {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 500px;
	background-color: #E7512D;
	padding: 10px;
	font-size: 1.2em;
}

#form td {
	width: 50%;
	padding: 10px;
}

#form label {
	color: white;
}

#form input {
	width: 225px;
	font-size: 0.8em;
	border: 1px solid #faebd7;
}

#form p {
	color: white;
	text-align: center; 
}

#form a {
	text-decoration: underline;
	color: white;
}

textarea:focus, input:focus {
    color: black;
}

#submit {
	color: black;
}